body {
    color: var(--main-text-color); /*--основной цвет текста--*/
    /**--background-color: var(--main-background-color);--*/
    background-color: white;
    background-position: top;
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
    /*--background-image: url("../images/background5.jpg");--*/
    }

/*--Сброс дефолтных настроек--*/

/*--Сброс настроек списков списков ul, ol--*/
.list, li
{list-style: none;}

ul, ol
{margin-top: 0;
 margin-bottom: 0;
 padding-left: 0;   
}    

/*--Сброс настроек ссылок a--*/
.link
{text-decoration: none;}

/*--Сброс настроек заголовков h и текста p--*/
h1, h2, h3, p
{margin-top: 0;
 margin-bottom: 0;}

/*--Сбрасываем нижний отступ в изображениях, делая их блоковыми--*/
img 
{display: block;
max-width: 100%;
height: auto;
}

/*--Задание палитры цветов через переменные--*/
:root
{
--main-text-color: #0d0d13;
--main-background-color:#ffff;
--logo-check-color:#4D5AE5;
--header-word-color:#2E2F42;
--nav-link-color:#2E2F42;
--link-active-color:#404BBF;
--hero-background-color:#2E2F42;
--hero-title-color:#FFFFFF;
--main-btn-color:#FFFFFF;
--btn-color: #4D5AE5;
--border-btn-color: #e7e9fc;
--section-main-text-color: #2E2F42;
--section-team-background-color:#F4F4FD;
--footer-background-color:#2E2F42;
--footer-main-text-color:#F4F4FD;
--footer-secondary-text-color: #fff;
--icon-fill-color: #f4f4fd;
}

/*----------------------HEADER-----------------------*/

/*-----------------МОБИЛЬНАЯ ВЕРСИЯ-------------------*/

/*--Задаем контейнер для центровки и ограничения ширины контента--*/
.header {
border-bottom: 1px solid #E7E9FC;
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08); 
}

/*--Контейнер, в который помещается контент секций--*/
.container {
    max-width: 428px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    background-color: ffff;
  }
  
 
    /*--Делаем логотип и список навигации flex-контейнером--*/
    .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    }/*--Центруем элементы вдоль горизонтальной оси--*/


  /*--Скрываем ненужные меню для мобайла--*/
.nav-ul, .cont  
{ display: none; } 


/*--Данные верхнего логотипа--*/
.logo {
    color: var(--logo-check-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

/*--Дополнительные данные верхнего логотипа--*/
.head {
  padding: 24px 0;
  margin-right: 76px;}/*--Задаем отступ между логотипом и nav-ul--*/

/*--Задаем отступ между логотипом и nav-ul--*/

/*--Описываем слово Studio--*/
.header-word {
    color: var(--header-word-color);
    font-family: 'Raleway' sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

/*--Данные навигационных ссылок--*/
.nav-link {
  color: var(--nav-link-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  width: 90px;
  padding-left: 10px;
  padding-right: 10px; 
  /* padding: 24px 0; */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*--Меняем цвет ссылок при наведении--*/
.nav-link:hover,
.nav-link:focus
{color: var(--link-active-color);
}

/*--Ставим элементы навигации в строку--*/
.main-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    }

/*--Задаем ссылке страницы Studio - relative--*/
.current-page-main
{position: relative;
color: var(--link-active-color);
text-decoration: underline;
border: none;
-webkit-appearance: none;
}

.current-page-main:focus {
  outline: none;
}

/*----*/ 
.mobile-cont-sl
{ display: flex;
  flex-direction: column; }


/*--Мобильное меню контакты--*/
.mobile-menu-cont
{display: flex;
 flex-direction: column;   
 gap: 40px; }


 /*--Задаем цвет ссылке телефона--*/
.tel-number
{ color: #4D5AE5; }


/*--Параметры текста email--*/
.mobile-menu-email
{font-weight: 500;
 font-size: 20px;
 line-height: 1.2;
 letter-spacing: 0.02em;
 color: #434455;
 text-decoration: none;
}


/*--Список соцсетей мобильного меню--*/
.mobile-menu-social
{display: flex;
 margin-top: 48px;
 max-width: 328px;
 justify-content: space-between;
 }


/*--Ячейка каждой иконки линка соцсети--*/
.social-link
{width: 40px;
height: 40px;}


/*--Описание класса ссылки соцсетей мобильного меню--*/
.social-link-a-mobile {
     display: flex;
     width: 100%;
     height: 100%;
     background-color: #4D5AE5;
     border-radius: 50%;
     align-items: center;
     justify-content: center;
     color: #FFFFFF;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }


 /*--Меняем цвет при наведении на ссылку соцсети--*/
.social-link-a-mobile:hover,
 .social-link-a-mobile:focus {
     background-color: #404bbf;
    }

 /*--Класс для заливки иконок соцсетей футера--*/
.icon-sl-mobile 
{ fill: #f4f4fd; }



/*-----------ПЛАНШЕТНАЯ ВЕРСИЯ-----------*/

@media screen and (min-width:768px)
{

/*--Задаем ширину контейнера--*/
.container {
    max-width: 768px;
    }

/*--Скрываем кнопку вызова мобильного меню--*/    
.mobile-menu-open-btn
{display: none;}


/*--Задаем отступ между логотипом и nav-ul--*/
.head 
{ margin-right: 120px; }


/*--Включаем меню навигации - делаем видимым--*/
.nav 
{display: flex;
align-items: center;
}


/*--Включаем главную навигацию--*/
.main-nav 
{ 
    display: flex; 
} /*--Выстраиваем элементы по горизонтали--*/


/*--Делаем список навигации flex-контейнером--*/
.nav-ul 
{display: flex;
align-items: center;
gap: 40px;

}     
    

/*--Прижимаем секцию почты и телефона к правому краю--*/
.cont
{display: flex;
 font-style: normal; /*--сбрасываем стиль italic--*/
margin-left: auto;
 }


/*--Делаем список контактов flex-контейнером--*/
.cont-ul {
display: flex;
flex-direction: column;
gap: 12px;
}


/*--Данные навигационных ссылок--*/
.nav-link {
color: var(--nav-link-color);
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
display: block;
/* padding-top: 24px;
padding-bottom: 24px; */
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/*--Меняем цвет ссылок при наведении--*/
.nav-link:hover,
.nav-link:focus
{color: var(--link-active-color); }


/*--Данные ссылок контактов--*/
.cont-link {
color: var(--main-text-color);
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
text-decoration: none;
display: block;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/*--Дополнительный класс для почты--*/
.email
{padding-top: 16px;}


/*--Дополнительный класс для телефона--*/
.tel
{padding-bottom: 16px}


/*--Меняем цвет ссылок при наведении--*/
.cont-link:hover,
.cont-link:focus {
color: var(--link-active-color);
}

}


/*-----------------Описываем ДЕСКТОП---------------------*/

@media screen and (min-width:1158px) {

    .container
    {max-width: 1158px;
     padding-left: 15px;
     padding-right: 15px;}
    
    
    /*--Задаем отступ между логотипом и nav-ul--*/
    .head
    {margin-right: 76px;} /*--Задаем отступ между логотипом и nav-ul--*/
    
    
    /*--Делаем список навигации flex-контейнером--*/
    .nav-ul {
        display: flex;
        align-items: center;
        }
    
    
    /*--Прижимаем секцию почты и телефона к правому краю--*/
    .cont
    { margin-left: auto;}
    
    
    /*--Делаем список контактов flex-контейнером--*/
    .cont-ul 
    { flex-direction: row;
      gap:40px; }
    
    
    /*--Убираем паддинги--*/
    .tel
    {padding-bottom: 0;}
    
    .email 
    { padding-top: 0; }
    
    /*--Данные ссылок контактов--*/
    .cont-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
    padding: 24px 0;
    }
    
    


    /*--Данные навигационных ссылок--*/
.nav-link {
  color: var(--nav-link-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  width: 180px;
  padding-left: 20px;
  padding-right: 20px;
  /* padding: 24px 0; */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}
/*-------------SECTION INF ---------------*/

/*-------------МОБИЛЬНАЯ ВЕРСИЯ------------------*/

/*--Контейнер, в который помещается контент секций--*/
/*--
.container {
    max-width: 428px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }
--*/

.section-inf-cont {
    /*--max-width: 428px;--*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    
   /*-- padding-left: 30px;
    padding-right: 30px;  --*/
    padding-top: 30px;
    padding-bottom: 30px;
    /*--max-width: 1500px;--*/
    }

/*--
    .section-inf-ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}
--*/

.add-elec {
    margin-top: 20px;
    margin-bottom: 10px;
}

.elec-img {
width: 0;
height: 0;
}

.elec-img-add {
    /**--max-width: 200px;--*/
    max-height: 250px;
    margin-left: auto;
    margin-right: auto;
}

.cont-elec {
    display: flex;
    flex-direction: column;
   
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    max-width: 396px;
    box-shadow: 2px 2px 2px 2px gray;
    border-radius: 10px;
   /*-- border: 1px solid red; --*/
}

.cont-elec:hover {
    box-shadow: 2px 2px 2px 2px rgb(207, 112, 83);
    /*--transform: scale(1.02);--*/
}

.cont-elec-add {
    max-width: 428px;
}

.cont-elec-add {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    
   /*-- border: 1px solid red; --*/ 
    }

.cont-elec-add-one {
    display: flex;
    align-items: center;
    /*--max-width: 300px;--*/
     padding: 20px 20px; 
   margin-left: auto;
   margin-right: auto;
   }

   .cont-elec-adding {
    display: flex;
    flex-direction:column;
    margin-top: 20px;
    gap: 20px;
    margin-bottom: 20px;
   /*-- border: 1px solid blue;--*/
    box-shadow: 2px 2px 2px 2px gray;
    border-radius: 10px;
}

.cont-elec-adding:hover {
    box-shadow: 2px 2px 2px 2px rgb(189, 132, 105);
    /*--transform: scale(1.02);--*/
}

 
   .elec-inf {
    display: flex;
    /*--align-items: center;
    justify-content: center;--*/
    /*--gap: 20px;--*/
    padding-left: 20px;
    max-width: 1450px;
    margin-bottom: 20px;
    /*--border: 1px solid yellow--*/
}

.elec-inf-add {
    display: flex;
    gap: 10px;
     
   }

.cont-elec-two {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.electro {
    text-align: center;
    font-family:cursive
}

.elec {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 0px;
    color: black;
}

.elec:hover {
    color:rgb(83, 85, 207);
}

.elec-inf-add-title {
    text-align: center;
  }
  
  ul 
  {
      list-style: none;
  }
  
  .subtitle-elec {
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
}

.subtitle-elec5 {
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 16px;
}


/*----------------ПЛАНШЕТНАЯ ВЕРСИЯ------------*/

/*----Пишем правило для планшетов--*/
@media screen and (min-width:768px)
{

    /*-- 
    .section-inf {
        max-width: 768px; 
    }
    --*/
    
    .elec-img {
        max-width: 250px;
        max-height: 100px;
        }
    
    .cont-elec {
        display: flex;
        flex-direction: row;
        padding-bottom: 20px;
       /*-- margin-left: auto;
        margin-right: auto;  --*/
        padding-bottom: 20px;
        max-width: 768px;
    }

     .cont-elec-add {
       max-width: 500px;
    }
    
    .cont-elec-add-one {
       margin-left: auto;
       margin-right: auto;
       }
      
    .cont-elec-two {
        display: flex;
        flex-direction: row;
        padding-bottom: 20px;
    }
}

/*----------------ДЕСКТОПНАЯ ВЕРСИЯ------------*/

/*----Пишем правило для планшетов--*/
@media screen and (min-width:1156px)
{

    /*--
    .elec-img {
        width: 250px;
        height: 100px;
        }
        --*/
    
    .cont-elec {
      max-width: 1156px;
      }
    
    .cont-elec-add {
        max-width: 900px;
    }
    
   }


/*-------------FOOTER---------------*/

/*---------МОБИЛЬНАЯ ВЕРСИЯ---------*/


/*--Данные Футера--*/
.footer {
    background-color: var(--footer-background-color);
    padding: 96px 0;
    margin-left: auto;
    margin-right: auto;
    }
    
    
    /*--Ставим по горизонтали левый и правый блок футера--*/
    .foot-content
    {display: flex;
     flex-direction: column;   
     align-items: center;
     }
    
    
    /*--Дополнительный контейнер для планшетной версии--*/
    .logo-sl-foot
    { 
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    
    
    /*--Контейнер логотип + текст--*/
    .logo-text-footer
    {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;
    }
    
    
    /*--Дополнительные данные нижнего логотипа--*/
    .foot 
    { 
    display: inline-block;
    margin-bottom: 16px;
    }
    
    /*--Описываем слово-ссылку WEB--*/
    .footer-word
    {color: var(--footer-main-text-color);
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    }
    
    /*--Описываем текст футера--*/
    .footer-text {
    color: var(--footer-main-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
    text-align: center;
    }
    
    /*--Задание отступов контейнеру соцсетей футера--*/
    .social-link-footer-container
    {padding: 0;}
    
    
    /*--Текст Social media в футере--*/
    .footer-text-title
    {color: var(--footer-secondary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    text-align: center;
    }
    
    
    /*--Контейнер 4-х ячеек с иконками соцсетей--*/
    .section-social-ul-footer 
    {display: flex;
     gap: 16px; }
    
    
     /*--Описание класса ссылки соцсетей футера--*/
    .social-link-a-foot {
         display: flex;
         width: 100%;
         height: 100%;
         background-color: #4D5AE5;
         border-radius: 50%;
         align-items: center;
         justify-content: center;
         color: #FFFFFF;
         transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
    
    /*--Меняем цвет при наведении на ссылку футера--*/
    .social-link-a-foot:hover,
    .social-link-a-foot:focus 
    { background-color: #31D0AA; }
    
    
     /*--Класс для заливки иконок соцсетей футера--*/
    .icon-sl-foot {
      fill: #f4f4fd; }
    
    
    /*--Контейнер с формой--*/
    .cont-subscribe
    {margin-top: 72px;
     } /*--Отодвигаем на 72px вниз--*/
    
    
    /*--Описание текста над формой--*/
    .text-form
    {
    color: var(--footer-secondary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    text-align: center;
    }
    
    /*--Описание контейнера для формы Subscribe--*/
    .form-subscribe 
    { display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    
    /*--Описание <label>, в которую вложен "p + input"--*/
    .label-subscribe 
    { margin-bottom: 16px; }
    
    
    @media screen and (max-width: 427px) {
      .cont-subscribe-input
      {width: 300px;}
    }
    
    @media screen and (min-width: 428px) {
      .cont-subscribe-input {
        width: 395px;
      }
    }
    
    
    /*--Описание <input> внутри формы--*/
    .cont-subscribe-input
    {
        height: 40px;
        background-color: var(--footer-background-color);
        border: 1px solid white;
        border-radius: 4px;
        padding-left: 16px;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        background-color: transparent;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        }
    
    
    /*--Описываем поведение <input> при фокусе--*/
    .cont-subscribe-input:focus
    { outline: transparent; } /*--Убираем черную рамку от браузера--*/
    
    
    /*--Задаем параметры текста placeholder формы Subscribe в футере--*/
    .cont-subscribe-input::placeholder
    { font-weight: 400;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.04em;
      color: #ffff; }
    
    
    /*--Описание кнопки формы Subscribe--*/
    .form-btn
    {
    width: 165px;
    height: 40px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: #4D5AE5;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    
    /*--Меняем кнопку при фокусе--*/
    .form-btn:hover,
    .form-btn:focus
    { background-color: #404BBf; }
    
    
    /*--Класс описания иконки кнопки Subscribe--*/
    .icon-subscribe-foot 
    {fill: #f4f4fd ;
    margin-left: 16px; }
    
    
    
    /*------------ПЛАНШЕТНАЯ ВЕРСИЯ ФУТЕРА-----------*/
    
    @media screen and (min-width: 768px)
    
    {
    
    /*--Данные Футера--*/
    .footer {
    padding: 96px 0;
    }
    
    
    /*--Описываем планшетную версию--*/
    .foot-content
    { width: 584px;
      align-items: flex-start;
    }
    
    /*--Описываем дополнительный класс logo+SL--*/
    .logo-sl-foot
    {
     flex-direction: row;
     align-items: baseline;
     justify-content: center;
     margin-left: auto;
     margin-right: auto; 
    }
    
    
    /*--Контейнер логотип + текст-обнуляем нижний отступ от мобайл-*/
    .logo-text-footer
    {margin-bottom: 0;
     margin-right: 24px;
     align-items: flex-start;
    }
    
    
    /*--Текст Social media в футере--*/
    .footer-text-title
    {text-align: start;
    }
    
    
    /*--Описание текста над формой--*/
    .text-form
    { text-align: start;}
    
    
    /*--Описание контейнера для формы Subscribe--*/
    .form-subscribe 
    { display: flex;
    flex-direction: row;
    align-items: baseline; }
    
    
    /*--Описание <label>, в которую вложен "p + input"--*/
    .label-subscribe 
    { margin-right: 24px; }
    
    
    /*--Описание <input> внутри формы--*/
    .cont-subscribe input
    { width: 264px;  }
    
    }
    
    /*---------------ДЕСКТОПНАЯ-ВЕРСИЯ-ФУТЕРА--------------*/
    
    @media screen and (min-width: 1158px) {
      
    
    /*--Указываем отступы для десктопа--*/
    .footer {
    padding: 100px 0;
    }
    
    /*--Ставим по горизонтали левый и правый блок футера--*/
    .foot-content
    {display: flex;
     flex-direction: row;
     width: 1158px; 
    align-items: baseline;
    }
    
    
    /*--Контейнер логотип + текст--*/
    .logo-text-footer
    {margin-right: 120px;}
    
     
    /*--Контейнер с формой--*/
    .cont-subscribe
    { margin-top: 0px;
      margin-left: 80px;} /*--Отодвигаем на 80px--*/
    
    }

/*--------------------------------------------------------*/

/*--Делаем список навигации flex-контейнером--*/
.nav-ul 
{display: flex;}

/*--Задаем правый отступ всем item nav, кроме крайних--*/
 .nav-ul .item:not(:last-child) 
 {margin-right: 40px; }



/*--Задаем ссылке страницы Studio - relative--*/
.current-page-main
{position: relative;
color: var(--link-active-color);}

/*--Прижимаем секцию почты и телефона к правому краю--*/
.cont
{font-style: normal; /*--сбрасываем стиль italic--*/
margin-left: auto;}

/*--Делаем список контактов flex-контейнером--*/
.cont-ul {
display: flex;
/*--gap: 40px;--*/}

/*--Задаем правый отступ всем item cont, кроме крайних--*/
.cont-ul .item:not(:last-child) 
{margin-right: 40px;}

/*--Данные ссылок контактов--*/
.cont-link {
color: var(--main-text-color);
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-decoration: none;
display: block;
/*--padding: 24px 0;--*/
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*--Меняем цвет ссылок при наведении--*/
.cont-link:hover,
.cont-link:focus {
color: var(--link-active-color);
}


/*--Данные заголовка секции--*/
.section-title {
color: var(--section-main-text-color);
font-weight: 700;
font-size: 36px;
line-height: 1.1;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
margin-bottom: 72px;
}

/*--Делаем список flex-элементом, чтобы список расположить горизонтально--*/
.section-ul
{display: flex;
gap: 24px;}

/*--Определяем ширину пункта списка--*/
.section-item {
    flex-basis: calc((100% - 3*24px)/4);
    /*--width: calc((100% - 3*24px)/4)--*/
}

/*--Определяем ширину списка img--*/
.section-item-img {
    flex-basis: calc((100% - 3*16px)/3);
    /*--width: calc((100% - 3*16px)/3)--*/
}

/*--Данные подзаголовков--*/
.section-subtitle 
{color: var(--section-main-text-color);
 font-weight: 500;
 font-size: 20px;
 line-height: 1.2;
 letter-spacing: 0.02em;
 margin-bottom: 8px;}

/*--Данные текста секции--*/
.section-text {
    color: var(--main-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*--Контейнер 4-х ячеек с иконками соцсетей--*/
.section-social-ul
{display: flex;
gap: 24px;
justify-content: center;}

/*--Ячейка каждой иконки линка соцсети--*/
.social-link
{width: 40px;
height: 40px;}

/*--Описание класса ссылки соцсетей--*/
.social-link-a
{
display: flex;
width: 100%;
height: 100%;
background-color: #4D5AE5;
border-radius: 50%;
align-items: center;
justify-content: center;
color: #FFFFFF;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*--Меняем цвет при наведении --*/
.social-link-a:hover,
.social-link-a:focus {
background-color: #404bbf;
}

/*--Класс для заливки иконок соцсетей--*/
.icon-sl {
fill: var(--icon-fill-color);}


/*--Задание паддингов для секции Портфолио--*/
.section-port {
padding-top: 96px;
padding-bottom: 120px;} */


/*--Делаем ссылку блочным элементом--*/
.pf-link
{display: block;
 transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*--Эффект тени при наведении на карточку Портфолио--*/
.pf-link:hover,
.pf-link:focus
{box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

/*--Делаем ховер и фокус на всю карточку (текст выезжает снизу)--*/
.pf-link:hover .text-overlay,
.pf-link:focus .text-overlay 
{ transform: translateY(0);}

/*--Описываем класс родителя текста оверлея--*/
.card-overlay
{position: relative;
 overflow: hidden;
 }

/*--Ставим по горизонтали левый и рпавый блок футера--*/
/*--
.foot-content
{
    /*--display: flex;--*/
/*--align-items: baseline;
} --*/

/*--Дополнительные данные нижнего логотипа--*/
.foot {
display: inline-block;
margin-bottom: 16px;
}

.footer-word
{color: var(--footer-main-text-color);
font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.footer-text {
color: var(--footer-main-text-color);
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
width: 264px;
}

/*--Задание отступов контейнеру соцсетей футера--*/
.social-link-footer-container
{padding: 0;}

/*--Текст Social media в футере--*/
.footer-text-title
{color: var(--footer-secondary-text-color);
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
margin-bottom: 16px;
}

/*--Контейнер 4-х ячеек с иконками соцсетей--*/
.section-social-ul-footer 
{display: flex;
 gap: 16px; }

 /*--Описание класса ссылки соцсетей футера--*/
 .social-link-a-foot {
     display: flex;
     width: 100%;
     height: 100%;
     background-color: #4D5AE5;
     border-radius: 50%;
     align-items: center;
     justify-content: center;
     color: #FFFFFF;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

 /*--Меняем цвет при наведении на ссылку футера--*/
 .social-link-a-foot:hover,
 .social-link-a-foot:focus {
     background-color: #31D0AA;
    }

 /*--Класс для заливки иконок соцсетей футера--*/
 .icon-sl-foot {
  fill: #f4f4fd; }



  /*------Страница add Реле времени холодильник--------*/
  
  /*-------------Mobile version------------*/

  /*--Задаем ссылке страницы Studio - relative--*/
.current-page-reltime
{position: relative;
color: var(--link-active-color);
text-decoration: underline;}


/*--Делаем подчеркивание текущей страницы при помощи псевдоэлемента after--*/
/*--
.current-page-reltime::after
{content: '';
 width: 115px;
 height: 4px;
 left: 0;
 bottom: -1px;
 border-radius: 2px;
 background-color: #404BBF;
 margin: auto;
 position: absolute;
 }
 --*/ 
  
  
  
  /*------Страница add2 Таймер для бойлера--------*/

  /*-------------Mobile version------------*/

  .cont-elec-add-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*--max-width: 300px;--*/
     padding: 20px 20px; 
   /*--margin-left: auto;
   margin-right: auto;--*/
   justify-content: space-around;
   gap: 20px;
   /*--border: 1px solid red;--*/
  }

  .cont-elec-add-three {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /*--border: 1px solid blue;--*/
  }

  .boil-text {
    text-align: center;
  }

  .add1 {
    margin-top: 20px;
  }

  /*--Задаем ссылке страницы Studio - relative--*/
.current-page-main-boil
{position: relative;
color: var(--link-active-color);
text-decoration: underline;
}


/*--Делаем подчеркивание текущей страницы при помощи псевдоэлемента after--*/
/*--
.current-page-main-boil::after
{content: '';
 width: 130px;
 height: 4px;
 left: 0;
 bottom: -1px;
 border-radius: 2px;
 background-color: #404BBF;
 margin: auto;
 position: absolute;
 }
 --*/

  /*------------------ПЛАНШЕТ------------------*/

  @media screen and (min-width: 768px)
  {
    .cont-elec-add-two {
    flex-direction: row;
    }
  }

   /*------Страница add энергометра-ваттметра--------*/
  
  /*-------------Mobile version------------*/

  /*--Задаем ссылке страницы Studio - relative--*/
.current-page-wattmeter
{position: relative;
color: var(--link-active-color);
text-decoration: underline;}